<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>add</title>
</head>
<body>
  <form method="post" action="/stu/add">
    <div>
        <label for="name">姓名:</label>
        <input type="text" name="name" id="" placeholder="请输入姓名">
    </div>
    <div>
        <label for="age">年龄:</label>
        <input type="number" name="age" id="" placeholder="请输入年龄">
    </div>
    <button type="submit">新增</button>
  </form>
</body>
</html>