html,
body {
  min-width: 1200px;
  margin: 0 auto;
}

.bg_color {
  background-color: #FFFFFF;
}

@media screen and (max-width: 1240px) {
  main {
    margin-top: 60px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    line-height: 60px;
    z-index: 9999;
    border-bottom: 1px solid #DBDBDB;
  }
  .header .logo {
    padding: 0 20px;
  }
  .header .logo .navbar-logo {
    height: 50px;
  }
  .header .login a {
    font-size: 14px;
    color: #333333;
    font-weight: bold;
    padding: 6px 18px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .header .login a:hover {
    color: #000000;
  }
  .topNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .topNav li {
    float: left;
    margin-right: 20px;
  }
  .topNav li a {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 18px;
    color: #666;
  }
  .topNav li:hover a {
    color: #000000;
    background-color: #e0dce4;
    -webkit-box-shadow: 2px 2px 1px #c5c0cc inset;
            box-shadow: 2px 2px 1px #c5c0cc inset;
  }
  .topNav li.active a {
    color: #000000;
    background-color: #FAD232;
    -webkit-box-shadow: 2px 2px 1px #c5c0cc inset;
            box-shadow: 2px 2px 1px #c5c0cc inset;
  }
}

@media screen and (min-width: 1240px) {
  main {
    margin-top: 80px;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    line-height: 80px;
    z-index: 9999;
    border-bottom: 1px solid #DBDBDB;
  }
  .header .logo {
    padding: 0 20px;
  }
  .header .logo .navbar-logo {
    height: 60px;
  }
  .header .login a {
    font-size: 18px;
    color: #333333;
    font-weight: bold;
    padding: 6px 18px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  .header .login a:hover {
    color: #000000;
  }
  .topNav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .topNav li {
    float: left;
    margin-right: 40px;
  }
  .topNav li a {
    padding: 8px 20px;
    font-size: 16px;
    line-height: 16px;
    border-radius: 18px;
    color: #666;
  }
  .topNav li:hover a {
    color: #000000;
    background-color: #e0dce4;
    -webkit-box-shadow: 2px 2px 1px #c5c0cc inset;
            box-shadow: 2px 2px 1px #c5c0cc inset;
  }
  .topNav li.active a {
    color: #000000;
    background-color: #FAD232;
    -webkit-box-shadow: 2px 2px 1px #c5c0cc inset;
            box-shadow: 2px 2px 1px #c5c0cc inset;
  }
}

.footer {
  width: 100%;
  background-color: #323233;
  padding: 26px 0;
}

.footer .padd-lr__28 {
  padding: 0 28px;
}

.footer .navItem {
  padding-bottom: 20px;
}

.footer .navItem .navItem__it {
  float: left;
  margin-right: 30px;
  padding-left: 0;
}

.footer .navItem .navItem__it .keyWord {
  font-size: 18px;
  color: #DBDBDB;
  font-weight: bold;
}

.footer .navItem .navItem__it .link,
.footer .navItem .navItem__it .nav {
  font-size: 14px;
  color: #DBDBDB;
}

.footer .navItem .navItem__it .link:hover,
.footer .navItem .navItem__it .nav:hover {
  color: #FAD232;
}

.footer .navItem .navItem__it a:hover {
  color: #FAD232;
}

.footer .navItem .navItem__it:last-child {
  margin-right: 0px;
}

.footer .friendly-link {
  font-size: 15px;
  color: #DBDBDB;
  font-weight: bold;
}

.footer .company-Info .info {
  margin-top: 12px;
  float: left;
}

.footer .company-Info .info h4 {
  font-size: 14px;
  color: #9B9B9B;
}

.footer .company-Info .info h4:hover {
  color: #FAD232;
}

.footer .company-Info .wxcode {
  float: right;
}

.footer .company-Info .wxcode .wxcode-item {
  margin-left: 54px;
  display: inline-block;
  width: 120px;
  height: 120px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 3px;
  background-color: #FFFFFF;
}

.footer .company-Info .wxcode .wxcode-item img {
  width: 114px;
  height: 114px;
}

.footer .company-Info .wxcode .wxcode-item p {
  margin-top: 8px;
  text-align: center;
  font-size: 13px;
  color: #9B9B9B;
}

.footer .website-version {
  margin-top: 26px;
}

.footer .website-version h5 {
  text-align: center;
  line-height: 15px;
  font-size: 13px;
  color: #9B9B9B;
}

.footer .website-version .h5 {
  margin-bottom: 8px;
}

.img_banner {
  width: 100%;
}
