html,body{
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box
}
.padd-b_15rem{
    padding-bottom: px2rem(15) !important;    
}
.border-b{
    border-bottom: 1px solid $lineColor !important;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    border-bottom: 1px solid #dbdbdb;
    .headerBox{
        position: relative;
        background-color: #ffffff;
        z-index: 3;
        .header-content{
            background-color: #FAFAFC;;
            z-index: 3;
            height: px2rem(50);
            line-height: px2rem(50);
            // height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .jzbear-icon{
                width: px2rem(180);
                height: px2rem(28);
                margin-left:px2rem(15);
                @include imgBg("mobile/img-logo.png");
                
            }
            .menu-icon{
                width: px2rem(50);
                height:px2rem(50);
                &::after{
                    content: '';
                    display: block;
                    width: px2rem(24);
                    height:px2rem(24);
                    line-height: px2rem(24);
                    @include imgBg("mobile/menu.png");
                    margin: 0 auto;
                    position: relative;
                    top: 25%;
                }
            }
            .close-icon{
                width: px2rem(50);
                height:px2rem(50);
                &::after{
                    content: '';
                    display: block;
                    width: px2rem(24);
                    height:px2rem(24);
                    line-height: px2rem(24);
                    @include imgBg("shut.png");
                    margin: 0 auto;
                    position: relative;
                    top: 25%;
                }
            }
        }

        .item-list{
            box-sizing: border-box;
            padding:0 0 0 px2rem(15);
            width: 100%;
            position: absolute;
            background-color: #ffffff;
            z-index: 3;
            li{
                border-bottom: 1px solid $lineColor;
                @include fontFlex(13);
                color: #333333;
                line-height: px2rem(22);
                padding: px2rem(14) 0;
                a{
                    display: block;
                }
            }
            li:last-child{
                border-bottom: none;
            }
        }
        .disp{
            display: none;
        }
    }
    
}
.mark{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: none;
    background-color: #000000;
    opacity: 0.5;
}
.mark-show{
    display: block
}
main{
    margin-top: px2rem(50);
}
.index-swraper{
    width: 100%;
    .swiper-slide{
        img{
            width: 100%;
        }
    }

    .swiper-pagination-bullet{
        width: px2rem(6);
        height: px2rem(6);
        background: none !important;
        opacity: 1 !important;
        border:1px solid #ffffff;
    }
    .swiper-pagination-bullet-active{
        background-color: #ffffff !important;;
        border:1px solid #ffffff !important;;
    }
    .main-bg{
        width: 100%;
    }
}
.main-title{
    margin: 0 auto;
    padding: px2rem(25) 0;
    text-align: center;
    @include fontFlex(22);
    color: #333333;
    line-height: px2rem(40);
}

// 模块布局
.itemBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 px2rem(2) px2rem(6) 0 rgba(219,219,219,0.80);
    margin: px2rem(36) px2rem(28) px2rem(20) px2rem(28);
    .imgBox80x80rem{
        width: px2rem(80);
        height:px2rem(80);
        margin: 0 auto;
        margin-bottom: px2rem(20);
    }
    .img80x80rem{
        width: px2rem(80);
        height:px2rem(80);
        display: inline-block;
    }
    .flexColunm{
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        border-radius: px2rem(5);
        overflow: hidden;
       &:hover{
           box-shadow: 0 px2rem(4) px2rem(6) 0 rgba(219,219,219,0.80);
           border-radius: px2rem(5);
       }
        
        .tit{
            @include fontFlex(16);
            color: #333333;
            text-align: center;
            font-weight: bold;
            margin-bottom: px2rem(12);
        }
        .des{
            @include fontFlex(14);
            color: #333333;
            text-align: center;
            margin: 0 px2rem(40);
            // @include lineNum(3);
            line-height: px2rem(20);
            padding-bottom: px2rem(20);
        }
    }
}
footer{
    // background: #323233;
    // color: #ffffff;
    >h1{
        padding: px2rem(25) 0;
        @include fontFlex(22);
        color: #ffffff;
        line-height: px2rem(40);
        font-weight: bold;
        text-align: center;

    }
    >p{
        @include fontFlex(14);
        color: #9b9b9b;
        margin-left: px2rem(30);
    }
    .w-code{

        margin: px2rem(32) px2rem(15) 0 px2rem(15);
        padding-bottom:px2rem(30);
        border-bottom: 1px solid $lineColor;
        display: flex;
        justify-content: space-around;
        >div{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            >p{
                @include fontFlex(13);
                color: #9b9b9b;
            }
        }

        .w-codeBox{
            width: px2rem(80);
            height:px2rem(80);
            padding: px2rem(2);
            box-sizing: border-box;
            background-color: #ffffff;
            margin-bottom: px2rem(8);
            img{
                width: px2rem(76);
                height: px2rem(76);
            }
        }
    }
    .vision{
        margin-top: px2rem(18);
        >p{
            @include fontFlex(13);
            color: #9b9b9b;
            text-align: center;
            padding-bottom: px2rem(8);
        }
    }
    .footerNav{
        display: flex;
        border-top: 1px solid #9b9b9b;
        .navItem{
            flex: 1;
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: px2rem(5) 0;
            .home-icon-h{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
            .home-icon-l{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
            .msg-icon-h{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
            .msg-icon-l{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
            .phone-icon-h{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
            .phone-icon-l{
                @include imgBg("gou1.png");
                width: px2rem(24);
                height: px2rem(24);
            }
        }
    }

}

// 下拉加载样式
.dropload-up,.dropload-down{
    position: relative;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    /* 开启硬件加速 */
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
}
.dropload-down{
    height: 50px;
}
.dropload-refresh,.dropload-update,.dropload-load,.dropload-noData{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.dropload-load .loading{
    display: inline-block;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 6px;
    border: 2px solid #666;
    border-bottom-color: transparent;
    vertical-align: middle;
    -webkit-animation: rotate 0.75s linear infinite;
    animation: rotate 0.75s linear infinite;
}
@-webkit-keyframes rotate {
    0% {
        -webkit-transform: rotate(0deg);
    }
    50% {
        -webkit-transform: rotate(180deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}